@model UnleashedRage.Models.User

@{
    ViewData["Title"] = "Details";
}

<br id="spacer" />

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Send Email?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SendEmail)
        </dd>
        <dt class="col-sm-2">
            Current Page
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrPage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
