@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Welcome != null)
{
    <h4 class="text-success">@ViewBag.Welcome</h4>
}

    <br id="spacer" />

<!-- Image Viewer -->
<div id="ArchiveOpen">
    <button class="openbtn" onclick="openNav()"> > </button>
</div>


<div id="PageView" class="align-content-xl-center">
    @if (ViewBag.CurrentPage != null)
    {
        var base64 = Convert.ToBase64String(ViewBag.CurrentPage.Image);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

        <img id="CurrentPage" src="@imgSrc" />
    }
</div>

<!-- Comic Archive -->
<div id="Archive" class="sidebar">
    <a href="javascript:void(0)" id="ArchiveClose" class="closebtn" onclick="closeNav()"> < </a>
    @{int currentVolume = -1; }
    @for (int a = 0; a < ViewBag.AllPages.Count; a++)
    {
        if (ViewBag.AllPages[a].Volume != currentVolume)
        {
            <h4>Volume @ViewBag.AllPages[a].Volume</h4>
            currentVolume = ViewBag.AllPages[a].Volume;
        }
        <a href="#" onclick="changeImage(@ViewBag.AllPages[a])">Issue @ViewBag.AllPages[a].Issue</a>
    }
</div>
<script>
    function openNav() {
        document.getElementById("Archive").style.width = "50vh";
        document.getElementById("ArchiveOpen").style.visibility = "hidden"
    }

    function closeNav() {
        document.getElementById("Archive").style.width = "0";
        document.getElementById("ArchiveOpen").style.visibility = "visible"
    }

    function changeImage(page) {
        var base64 = Convert.ToBase64String(page.Image);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

        document.getElementById("CurrentPage").src = imgSrc;
    }
</script>
<br />

<h2>Merch</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>The Author</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
