<body>
    @{
        ViewData["Title"] = "Home Page";
    }
    @if (ViewBag.Welcome != null)
    {
        <h4 class="text-success">@ViewBag.Welcome</h4>
    }

    <br id="spacer" />

    <!-- Image Viewer -->
    <div id="ArchiveOpen">
        <button class="openbtn" onclick="openNav()"> > </button>
    </div>


    <div id="PageView" class="center">
        @if (ViewBag.CurrentPage != null)
        {
            var base64 = Convert.ToBase64String(ViewBag.CurrentPage.Image);
            var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

            <img id="CurrentPage" 
                 src="@imgSrc"
                 class="center"/>
        }
    </div>

    <!-- Comic Archive -->
    <div id="Archive" class="sidebar">
        <a href="javascript:void(0)" id="ArchiveClose" class="closebtn" onclick="closeNav()"> < </a>
        @*@{int currentVolume = -1;
        for (int a = 0; a < ViewBag.AllPages.Count; a++)
        {
            ComicPage currentPage = ViewBag.AllPages[a];
            if (currentPage.Volume != currentVolume)
            {
                <h4>Volume @currentPage.Volume</h4>
                currentVolume = currentPage.Volume;
            }
            <a href="javascript:changeImage(@ViewBag.AllPages[a].Image)">Issue @currentPage.Issue</a>
        }
        }*@
    </div>
    <script>
        function createArchiveLink(comicPage) {
            var link = document.createElement('a');
            link.text = comicPage
            //link.onclick = function (comicPage) {

            //    // Convert page into an image src
            //    var base64 = btoa(String.fromCharCode.apply(null, new Uint8Array(comicPage.Image)));

            //    // Set CurrentPage src to page image src
            //    document.getElementById("CurrentPage").src = "data:image/jpeg;base64," + base64;
            //}
            document.getElementById("Archive").appendChild(link);
        }

        function openNav() {
            document.getElementById("Archive").style.width = "50vh";
            document.getElementById("ArchiveOpen").style.visibility = "hidden"
        }

        function closeNav() {
            document.getElementById("Archive").style.width = "0";
            document.getElementById("ArchiveOpen").style.visibility = "visible"
        }

        for (var a = 0; a < 5; a++) {
            createArchiveLink(a);
        }
    </script>
    <br />

    <div id="Merch">
        <h2 id="MerchTitle">Merch</h2>
        <Button id="Tshirt"></Button>
        <Button id="Sticker"></Button>
        <p id="MerchText">Sorry, merch is unavailable at the moment</p>
    </div>

    <div id="AuthorBio">
        <!-- Image is a placeholder -->
        @if (ViewBag.CurrentPage != null)
        {
            var base64 = Convert.ToBase64String(ViewBag.CurrentPage.Image);
            var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

            <img id="AuthorImage" src="@imgSrc" />
        }
        <p id="AuthorDesc" class="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br />
        <div id="AuthorLinks">
            <a href="#" id="Email">Email@Email.com</a><br />
            <a href="#" id="Media1">Social Media link 1</a>
            <a href="#" id="Media2">Social Media link 2</a>
            <a href="#" id="Media3">Social Media link 3</a>
            <a href="#" id="Media4">Social Media link 4</a>
        </div>

    </div>
    <br /><br /><br />
</body>