@model UnleashedRage.Models.ComicPage

@{
    ViewData["Title"] = "Details";
}

<br id="spacer" />

<div>
    <h1 class="text-lg-center text-primary">Volume @Html.DisplayFor(model => model.Volume), Issue @Html.DisplayFor(model => model.Issue)</h1>
    <h2 class="text-md-center text-secondary">Released on @Html.DisplayFor(model => model.ReleaseDate)</h2>
    <h3 class="text-md-center text-secondary">ID = @Html.DisplayFor(model => model.PageID)</h3>
    @if (ViewBag.ComicPage != null)
    {
        var base64 = Convert.ToBase64String(ViewBag.ComicPage.Image);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

        <img class="pre-scrollable align-content-xl-center" src="@imgSrc" />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PageID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
