@model IEnumerable<UnleashedRage.Models.ComicPage>

@{
    ViewData["Title"] = "Index";
}

<br id="spacer" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Page Number
            </th>
            <th>
                Date Released
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                Volume @Html.DisplayFor(modelItem => item.Volume), Issue @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PageID">View Page</a> |
                <a asp-action="Edit" asp-route-id="@item.PageID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
